
<form class="form blog-form login-container">
  <div class="form-group row mb-3"><h2 id="form-title">Create New Post</h2></div>
   <div class="form-group row mb-3">
    <label for="title" class="form-label">Title</label>
    <input class="form-input" type="text" id="title" />
    <input type="hidden" value="{{this.user_id}}" id="user_id" />
  </div> 
    <div class="form-group row mb-3">
    <label for="content" class="form-label">Content</label>
    <input class="form-input" type="text" id="content" />
   
  </div> 
  <div class="form-group row mb-3">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>


<script src="/js/addblog.js"></script>