<div>
<form class="form login-form login-container">
   <div class="form-group row mb-3"><h2 id="form-title">Login</h2></div>
  <div class="form-group row mb-3">
    <label for="email-login" class="form-label">Email</label>  
    <input class="form-input" type="text" id="email-login" />    
  </div>
  <div class="form-group row mb-3">
    <label for="password-login" class="form-label">Password</label>   
    <input class="form-input" type="password" id="password-login" />   
  </div>
  <div class="form-group row mb-3">
    <button class="btn btn-primary" type="submit"><h3>Login!</h3></button>
  </div>
  <a href="/api/users/signup" class="nav-button btn-custom">Sign Up instead </a>
</form>

<script src="/js/login.js"></script>
</div>